@model LegalSupplierEditViewModel

@{
    ViewData["Title"] = "Editar Fornecedor";
}

<h1>Editar</h1>

<h4>Fornecedor</h4>
<hr />

<div class="col-md-8">
    <form id="form" asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="control-label">Nome</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">CNPJ</label>
            <input asp-for="CNPJ" class="form-control" />
            <span asp-validation-for="CNPJ" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Empresa</label>
            <select asp-for="CompanyId" asp-items="@Model.Companies" class="form-control"></select>
            <span asp-validation-for="CompanyId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Telefones</label>
            <div id="phoneItemContainer">
                @Html.EditorFor(model => model.Phones)
            </div>            
        </div>
        <div class="form-group">
            <input id="btnAddPhone" type="button" value="Adcionar Telefone" class="btn btn-primary" />
        </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-primary" />
        </div>
    </form>
</div>


<div>
    <a asp-controller="Supplier" asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
        $("#btnAddPhone").on('click', function(){
            $.ajax({
                async:true,
                data: $("#form").serialize(),
                type: "POST",
                url: '/LegalSupplier/AddPhone',
                success: function(partialView){
                    console.log("partialView: " + partialView);
                    $("#phoneItemContainer").html(partialView);
                }
            });
        });
    </script>
}