@model PhoneItem

<div class="row">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="col-md-8">
        <input type="hidden" asp-for="Id" />
        <div class="form-group">
            <label class="control-label">Número</label>
            <input asp-for="Number" class="form-control" />
            <span asp-validation-for="Number" class="text-danger"></span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Tipo</label>
            <select asp-for="Type" asp-items="@Model.PhoneTypes" class="form-control"></select>
            <span asp-validation-for="Type" class="text-danger"></span>
        </div>
    </div>
</div>