@model IEnumerable<SupplierIndexViewModel>

@{
    ViewData["Title"] = "Fornecedores";
}

<h2>Fornecedores</h2>

<p>
    <label>Novo: </label>
    <a asp-controller="IndividualSupplier" asp-action="Create">Pessoa Física |</a>
    <a asp-controller="LegalSupplier" asp-action="Create">Pessoa Jurídica</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nome</label>
            </th>
            <th>
                <label>CNPJ/CPF</label>
            </th>
            <th>
                <label>Tipo</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {

            var controller = "IndividualSupplier";

            if (item.Type == "Pessoa Jurídica")
                controller = "LegalSupplier";

            <tr>
                <td>
                    <label>@item.Name</label>
                </td>
                <td>
                    <label>@item.CNPJ_CPF</label>
                </td>
                <td>
                    <label>@item.Type</label>
                </td>
                <td>
                    <a asp-controller='@controller' asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-controller='@controller' asp-action="Detail" asp-route-id="@item.Id">Detalhar</a> |
                </td>
            </tr>
        }
    </tbody>
</table>