@model IndividualSupplierDetailViewModel

@{
    ViewData["Title"] = "Detalhe Fornecedor";
}

<h1>Detalhe</h1>

<div>
    <h4>Fornecedor</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Nome</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.Name</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">CPF</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.CPF</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">RG</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.RG</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Data de Nascimento</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.DateOfBirth</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Empresa</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.Company</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">Telefones</label>
        </dt>
        <dd class="col-sm-10">
            @foreach (var item in Model.Phones) {
                <label class="control-label">@item</label>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-controller="Supplier" asp-action="Index">Voltar</a>
</div>