@model CompanyDetailViewModel

@{
    ViewData["Title"] = "Detalhe Empresa";
}

<h1>Detalhe</h1>

<div>
    <h4>Empresa</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            <label class="control-label">Nome Fantansia</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.TradingName</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">CNPJ</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.CNPJ</label>
        </dd>
        <dt class="col-sm-2">
            <label class="control-label">UF</label>
        </dt>
        <dd class="col-sm-10">
            <label class="control-label">@Model.UF</label>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>