@model CompanyEditViewModel

@{
    ViewData["Title"] = "Editar Empresa";
}

<h1>Editar</h1>

<h4>Empresa</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label class="control-label">Nome Fantansia</label>
                <input asp-for="TradingName" class="form-control" />
                <span asp-validation-for="TradingName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">CNPJ</label>
                <input asp-for="CNPJ" class="form-control" />
                <span asp-validation-for="CNPJ" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">UF</label>
                <select asp-for="UF" asp-items="@Model.States" class="form-control"></select>
                <span asp-validation-for="UF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}