@model IEnumerable<CompanyIndexViewModel>

@{
    ViewData["Title"] = "Empresas";
}

<h2>Empresas</h2>

<p>
    <a asp-action="Create">Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nome Fantasia</label>
            </th>
            <th>
                <label>CNPJ</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    <label>@item.TradingName</label>
                </td>
                <td>
                    <label>@item.CNPJ</label>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Detail" asp-route-id="@item.Id">Detalhar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Deletar</a>
                </td>
            </tr>
        }
    </tbody>
</table>